html {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:10px;
}

#topBar {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    /*background: #ddd;*/
    background: rgba(111, 111, 111, 0.76)
}

#wrapperTopBar {
    height:60px;
    width: 100%;
    
    position: absolute;
    top:0;
    left:0;
    background: #f3f3f3;
    z-index: 150;
}

.utilityView {
	position:absolute;
	left:0px;
	width:200px;
	top: 60px;
	bottom:0px;
	background-image:url(../resources/utility_bkg.jpg);
        padding-top:10px;
        box-shadow: 0px 0px 32px 2px #333;
}

.dashboardMainContainer {
	position: fixed;
	left: 200px;
	right: 0px;
	top: 60px;
	bottom: 0px;
	overflow: auto;
	box-shadow: 0px 0px 32px 2px #333;
        /* box-shadow: 0px 0px 32px 6px black; */
	z-index: 1;
}

.showUtilsButton {
	color: white;
	background-color: rgba(0, 0, 0, 0.64);
	box-shadow: 1px 1px 9px -2px black;
	border-radius: 30px;
	text-align: center;
	font-size: 34px;
	line-height: 30px;
	border: 3px solid white;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 30px;
	height: 30px;
	z-index: 100;
	cursor: pointer;
	opacity: 0.6;
}

.showUtilsButton:hover {
	opacity:1.0;
}

.showUtilsButton:active {
	left:6px;
	bottom:4px;
	opacity:1.0;
}

.dashboardContainer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	z-index: 1;
	background-color: #f3f3f3;
	padding-left:40px;
}


/*
*       VIEJOOOO
*
*/

.rounded {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}



.panel { background-color: #fefefe; border: 1px solid #ddd; margin-bottom: 20px;}
.panel > .title { background-color: #ccc; width: 190px; padding: 5px 10px; }

#search_box {
    margin: 0 0 30px 0;
}

#search_box input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px rgba(255,255,255,0.10);
    border: 1px solid #ccc;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: white;
    width: 180px;
    margin-left: 10px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    */
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search_box input[type="text"]:focus {
   
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

#filter { 
    font: 12px Arial,Helvetica,Sans-serif;
    margin-bottom: 30px;
}
    #filter input[type=checkbox] { float: right; margin-right: 7px; }
    #filter #title_filter_agents { 
        padding: 6px 1px 6px 15px;
        font-weight: bold;
        background: rgba(255,255,255,0.10);
        color: white;
        width: 165px;
        margin-left: 10px;
        margin-bottom: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
        -o-transition: all 0.7s ease 0s;
        transition: all 0.7s ease 0s;

    }
    #filter ul { list-style-type: none; margin: 3px 3px; padding-left: 0px; position: relative; zoom: 1; }
        #filter ul li { margin: 5px 0; padding: 5px; }

            #filter ul li span { 
                margin: 1px 5px; 
                padding: 2px 7px; 
                cursor: pointer; 
                color: white;    
                min-width: 150px;
                background: rgba(255,255,255,0.10);
                box-shadow: 2px 2px 1px rgba(20,20,20,0.2);
                text-shadow: 2px 2px 1px #333;
                
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                border-left-width: 5px;
            }
    #filter #list_filter_agents { display: block; }

   
#calendar {  margin: 10px; }

/*
 .darkcyan  { border: 1px solid darkcyan; }
 .blue      { border: 1px solid blue;     }
 .fuchsia   { border: 1px solid fuchsia;  }
 .green     { border: 1px solid green;    }
 .darkorange{ border: 1px solid darkorange;}
 .maroon    { border: 1px solid maroon;   }
 .navy      { border: 1px solid navy;     }
 .olive     { border: 1px solid olive;    }
 .purple    { border: 1px solid purple;   }
 .red       { border: 1px solid red;      }
 .silver    { border: 1px solid silver;   }
 .teal      { border: 1px solid teal;     }
 
 */
 


.Blue { border: 1px solid Blue; }
.BlueViolet { border: 1px solid BlueViolet; }
.Brown { border: 1px solid Brown; }
.CadetBlue { border: 1px solid CadetBlue; }
.Chartreuse { border: 1px solid Chartreuse; }
.Chocolate { border: 1px solid Chocolate; }
.Coral { border: 1px solid Coral; }
.CornflowerBlue { border: 1px solid CornflowerBlue; }
.Crimson { border: 1px solid Crimson; }
.DarkCyan { border: 1px solid DarkCyan; }
.DarkGoldenRod { border: 1px solid DarkGoldenRod; }
.DarkGray { border: 1px solid DarkGray; }
.DarkGreen { border: 1px solid DarkGreen; }
.DarkKhaki { border: 1px solid DarkKhaki; }
.DarkMagenta { border: 1px solid DarkMagenta; }
.DarkOliveGreen { border: 1px solid DarkOliveGreen; }
.Darkorange { border: 1px solid Darkorange; }
.DarkOrchid { border: 1px solid DarkOrchid; }
.DarkRed { border: 1px solid DarkRed; }
.DarkSalmon { border: 1px solid DarkSalmon; }
.DarkSeaGreen { border: 1px solid DarkSeaGreen; }
.DarkSlateBlue { border: 1px solid DarkSlateBlue; }
.DarkSlateGray { border: 1px solid DarkSlateGray; }
.DarkTurquoise { border: 1px solid DarkTurquoise; }
.DarkViolet { border: 1px solid DarkViolet; }
.DeepPink { border: 1px solid DeepPink; }
.DeepSkyBlue { border: 1px solid DeepSkyBlue; }
.DimGray { border: 1px solid DimGray; }
.DimGrey { border: 1px solid DimGrey; }
.DodgerBlue { border: 1px solid DodgerBlue; }
.FloralWhite { border: 1px solid FloralWhite; }
.ForestGreen { border: 1px solid ForestGreen; }
.Fuchsia { border: 1px solid Fuchsia; }
.Gold { border: 1px solid Gold; }
.GoldenRod { border: 1px solid GoldenRod; }
.Gray { border: 1px solid Gray; }
.Green { border: 1px solid Green; }
.HotPink { border: 1px solid HotPink; }
.IndianRed  { border: 1px solid IndianRed ; }
.Indigo   { border: 1px solid Indigo  ; }
.LimeGreen { border: 1px solid LimeGreen; }
.Magenta { border: 1px solid Magenta; }
.Maroon { border: 1px solid Maroon; }
.MediumAquaMarine { border: 1px solid MediumAquaMarine; }
.MediumBlue { border: 1px solid MediumBlue; }
.MediumOrchid { border: 1px solid MediumOrchid; }
.MediumPurple { border: 1px solid MediumPurple; }
.MediumSeaGreen { border: 1px solid MediumSeaGreen; }
.MediumSlateBlue { border: 1px solid MediumSlateBlue; }
.MediumSpringGreen
.MediumTurquoise { border: 1px solid MediumTurquoise; }
.MediumVioletRed { border: 1px solid MediumVioletRed; }
.MidnightBlue { border: 1px solid MidnightBlue; }
.Navy { border: 1px solid Navy; }
.Olive { border: 1px solid Olive; }
.OliveDrab { border: 1px solid OliveDrab; }
.Orange { border: 1px solid Orange; }
.OrangeRed { border: 1px solid OrangeRed; }
.Orchid { border: 1px solid Orchid; }
.Peru { border: 1px solid Peru; }
.Pink { border: 1px solid Pink; }
.Plum { border: 1px solid Plum; }
.Purple { border: 1px solid Purple; }
.Red { border: 1px solid Red; }
.RosyBrown { border: 1px solid RosyBrown; }
.RoyalBlue { border: 1px solid RoyalBlue; }
.SaddleBrown { border: 1px solid SaddleBrown; }
.Salmon { border: 1px solid Salmon; }
.SandyBrown { border: 1px solid SandyBrown; }
.SeaGreen { border: 1px solid SeaGreen; }
.Sienna { border: 1px solid Sienna; }
.Silver { border: 1px solid Silver; }
.SkyBlue { border: 1px solid SkyBlue; }
.SlateBlue { border: 1px solid SlateBlue; }
.SlateGray { border: 1px solid SlateGray; }
.SpringGreen { border: 1px solid SpringGreen; }
.SteelBlue { border: 1px solid SteelBlue; }
.Tan { border: 1px solid Tan; }
.Teal { border: 1px solid Teal; }
.Thistle { border: 1px solid Thistle; }
.Tomato { border: 1px solid Tomato; }
.Turquoise { border: 1px solid Turquoise; }
.Violet { border: 1px solid Violet; }
.YellowGreen { border: 1px solid YellowGreen; }
 

.clear { clear: both; }

.alertWindows { display: none; }