body {
         margin-top: 40px;
         font-size: 14px;
         font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
         background: #eee /*url('../img/cloth_alike.png') repeat*/;
         color: #333;    
}

.rounded {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#wrapper { background-color: white; width: 1205px;  margin: 0 auto; padding: 25px; border-top: 3px solid #d1d1d1; border-bottom: 3px solid #d1d1d1; }

#sidebar_left { width: 250px; float: left; margin-right: 50px; background-color: white; }

.panel { background-color: #fefefe; border: 1px solid #ddd; margin-bottom: 20px;}
.panel > .title { background-color: #ccc; width: 190px; padding: 5px 10px; }

#search_box {
    margin: 0 0 30px 0;
}

#search_box input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #333;
    width: 250px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    */
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search_box input[type="text"]:focus {
   
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

#filter { 
    background: 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 12px Arial,Helvetica,Sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}
    #filter input[type=checkbox] { float: right; margin-right: 7px; }
    #filter #title_filter_agents { padding: 6px 6px 6px 15px; font-weight: bold; background-color: #eee; border-bottom: 1px solid #d1d1d1;}
    #filter ul { list-style-type: none; margin: 0px 0 7px 0; padding-left: 0px; position: relative; zoom: 1; }
        #filter ul li { margin: 5px 0; padding: 5px; border-bottom: 1px solid #eee; }

            #filter ul li span { 
                
                margin: 1px 5px; 
                padding: 2px 7px; 
                cursor: pointer; 
                color: #333;    
                min-width: 150px;
                background: white;
                
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                /*
                -webkit-border-top-right-radius: 3px;
                -moz-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                -moz-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
                */
                border-left-width: 5px;
                /*border-right-width: 5px;*/
            }
    #filter #list_filter_agents { display: block; }

   
#main {  float: left; background-color:white; width: 890px;  }
#calendar {  width: 100%;}


 .darkcyan  { border: 1px solid darkcyan; }
 .blue      { border: 1px solid blue;     }
 .fuchsia   { border: 1px solid fuchsia;  }
 .green     { border: 1px solid green;    }
 .darkorange{ border: 1px solid darkorange;}
 .maroon    { border: 1px solid maroon;   }
 .navy      { border: 1px solid navy;     }
 .olive     { border: 1px solid olive;    }
 .purple    { border: 1px solid purple;   }
 .red       { border: 1px solid red;      }
 .silver    { border: 1px solid silver;   }
 .teal      { border: 1px solid teal;     }

.clear { clear: both; }

